@import "../../assets/sass/variables.scss";

chat-list-panel {
  width: 30%;
  height: 100%;
}

@media screen and (max-width: $screen-xs-max) {
  chat-list-panel {
    width: 100%;
  }
}

@media screen and (max-width: $screen-sm-max) {
  chat-list-panel {
    width: 36%;
  }
}
