@import "../../../assets/sass/variables.scss";

.profile-image {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-right: ($default-padding * 3) / 2;
  background: rgba(0, 0, 0, .3);
  overflow: hidden;
}

header {
  width: 100%;
  height: $default-header-height;
  display: flex;
  align-items: center;
  color: $dark_text_primary;
  padding: $default-padding/2 $default-padding;
}

button.new-chat {
  font-size: 32px;
  color: inherit;
}

.header-user {
  flex: 1 auto;
  cursor: pointer;
  .title {
    font-size: $font-size-title;
  }
  .connection-status {
    font-size: $font-size-caption;
    margin-top: 4px;
    color: $dark_text_secondary;
  }
}
