@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import "./variables.scss";
@import "./spinner.scss";


* {
  margin: 0px;
  box-sizing: border-box;
}

html, body, .app-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  cursor: pointer;
}

.app-content {
  display: flex;
}

.spinner {
  margin: 60px auto;
  > div {
    background-color: $color-primary;
  }
}
